.about {
  padding: 10rem 0 3.4375rem 0;
  background-color: var(--color-white);
}

.about__subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 157%;
  color: var(--color-textgrey);
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__title {
  color: var(--color-green);
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 157%;
  max-width: 31.5625rem;
}


.about__desc {
  max-width: 41.875rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-textgrey);
}

.about__cards {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 5rem;
  gap: 1.25rem;
}

.about__cards .card:nth-child(2) {
  margin: 15rem 0 0 0;
}

@media (max-width: 1250px) {
  .about__subtitle{
    max-width: 37.5rem;
    text-align: center;
  }
  .about__content {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1.25rem;
  }

  .about__cards {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .about__cards .card:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .about__content {
    padding: 0 0.9375rem;
  }

  .about__title {
    font-size: 2.1875rem;
  }

  .about__desc {
    font-size: 1rem;
  }
}