* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  transition: .4s
}
h1, h2, h3, h4, h5, h6 p{
  margin: 0;
}
.img {
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--color-white);
}

.container {
  max-width: 1450px;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.logo {
  width: 5.0625rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.btn {
  font-family: 'Lato', sans-serif;
  border: none;
  outline: none;
  width: 11.5625rem;
  height: 3.125rem;
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 0.25rem;
  background: var(--color-green);
  cursor: pointer;
  line-height: 1.25%;

}

.btn:hover,
.btn:focus-visible {
  outline: 2px solid var(--color-dark-green);
}

.btn--signin {
  background-color: transparent;
  color: var(--color-black);
}