.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.3125rem;
  width: 100%;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* column-gap: 72px; */
  column-gap: min(4.5rem, 4vw);

}

.header__nav-link {
  color: var(--color-text-nav);
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
}

.header__nav-link:hover {
  color: var(--color-green);

}

.header__nav-link:focus-visible {
  color: 2px solid var(--color-dark-green);
}

.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 0.625rem;
}

@media (max-width: 992px) {
  .header__nav-link {
    font-size: 16px;
  }

  .header__actions .btn {
    width: 120px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    padding: 0 0 0 45px;
  }

  .header__nav {
    display: none;
  }
}

@media (max-width: 390px) {
  .header__actions .btn {
    width: 90px;
  }
}